.Hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 92vw;
  height: 93vh;
  margin: 4vw auto 10vw auto;
}

.HeroPictureContainer {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, .22);
    z-index: 3;
  }
}

.HeroPicture {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
  width: 160%;
  max-width: 160%;
  //height: 100%;
  //max-width: 100%;
  //object-fit: cover;
  z-index: 2;
}

.HeroTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 24px;
  z-index: 4;

  h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    font-size: 18vw;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  }
}

.HeroTitleAsterisk {
  margin-top: .6em;
  font-size: .4em;
}

.HeroSubTitle {
  font-size: 1vw;
  line-height: 1.2;
}

.HeroMarqueeContainer {
  display: flex;
  justify-content: center;
  width: 75vw;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  overflow: hidden;
}

.HeroMarquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;

  ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    max-width: none;
    animation: hero-marquee 10s linear infinite;

    li {
      margin-right: 96px;
      padding: 1rem 0 1rem 0;
      font-family: var(--heading-font-family);
      font-size: 30px;
      line-height: 1.3;
      color: var(--color-white)
    }
  }
}


@keyframes hero-marquee {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.HeroScrollButtonContainer {
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.HeroScrollButton {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 60px;
  line-height: 15px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  color: var(--color-light-gray);
  transform: rotate(90deg);
}
